Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Update page “hiring-staying-or-changing-jobs/hiring-authorities”
  pages/hiring-staying-or-changing-jobs/hiring-authorities.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/hiring-authorities” (#3464)
  pages/hiring-staying-or-changing-jobs/hiring-authorities.md
Owners: @18F/team-talent

update org chart
  pages/about-us/org-chart.md
Owners: @18F/handbook-owners

Update page “hiring-staying-or-changing-jobs/hiring-authorities”
  pages/hiring-staying-or-changing-jobs/hiring-authorities.md
Owners: @18F/team-talent

update org chart (#3465)
  pages/about-us/org-chart.md
Owners: @18F/handbook-owners

Update hiring-authorities.md
  pages/hiring-staying-or-changing-jobs/hiring-authorities.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/hiring-authorities” (#3466)
  pages/hiring-staying-or-changing-jobs/hiring-authorities.md
Owners: @18F/team-talent

pull jobs data
  .github/workflows/pull-jobs-from-jointts.yml
Owners: @18F/handbook-owners

oop
  .github/workflows/pull-jobs-from-jointts.yml
Owners: @18F/handbook-owners

syncing jobs from TTSJobs
  _data/jobs.json
Owners: @18F/team-talent

add dispatch type
  .github/workflows/pull-jobs-from-jointts.yml
Owners: @18F/handbook-owners

Pull jobs data from JoinTTS (#3467)
  .github/workflows/pull-jobs-from-jointts.yml
Owners: @18F/handbook-owners

run hourly; everything else is just too complicated and silly
  .github/workflows/pull-jobs-from-jointts.yml
Owners: @18F/handbook-owners

run hourly; everything else is just too complicated and silly (#3468)
  .github/workflows/pull-jobs-from-jointts.yml
Owners: @18F/handbook-owners

syncing jobs from TTSJobs
  _data/jobs.json
Owners: @18F/team-talent

Update design.md
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

Update leaving-tts.md (#3454)
  pages/getting-started/classes.md
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
  pages/training-and-development/olu.md
Owners: @18F/people-ops, @18F/team-talent

Update piv.md
  pages/getting-started/piv.md
Owners: @18F/people-ops

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update navigation.yml (#3471)
  _data/navigation.yml
Owners: @18F/handbook-owners

Plain language updates to compensation process
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Revamp Onboarding overview page
  pages/getting-started/index.md
Owners: @18F/people-ops

Update index.md
  pages/getting-started/index.md
Owners: @18F/people-ops

language adjustments
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

correct some broken links
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Update pages/getting-started/index.md
  pages/getting-started/index.md
Owners: @18F/people-ops

Update pages/getting-started/index.md
  pages/getting-started/index.md
Owners: @18F/people-ops

Update pages/getting-started/index.md
  pages/getting-started/index.md
Owners: @18F/people-ops

Update pages/getting-started/index.md
  pages/getting-started/index.md
Owners: @18F/people-ops

Revamp Onboarding overview page (#3476)
  pages/getting-started/index.md
Owners: @18F/people-ops

Plain language updates to compensation process (#3475)
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Minor spelling/grammar updates
  pages/getting-started/index.md
Owners: @18F/people-ops

Update classes.md
  pages/getting-started/classes.md
Owners: @18F/people-ops

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update Engineering Practices Guild co-leads
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update Engineering Practices Guild co-leads (#3478)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update design.md (#3470)
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

Minor spelling/grammar updates (#3477)
  _data/navigation.yml
  pages/getting-started/classes.md
  pages/getting-started/index.md
Owners: @18F/handbook-owners, @18F/people-ops

Create work-schedules.md
  pages/general-information-and-resources/employee-resources-policies/work-schedules.md
Owners: @18f/people-ops

Update pronoun.is link to an Internet Archive link
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners
