Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Update transit-benefit.md (#3789)
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Provide point of contact for DVL
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Correct channel name
  pages/tools/github.md
Owners: @18F/tts-tech-portfolio

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update navigation.yml (#3794)
  _data/navigation.yml
Owners: @18F/handbook-owners

Update tock.md to reflect new form
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

Update tech-portfolio.md
  pages/office-of-solutions/tech-portfolio.md
Owners: @18F/solutions-handbook-owners

Define LT and GMT in the glossary
  pages/general-information-and-resources/glossary.md
Owners: @18f/handbook-owners

Add #18f-project-leads-only slack channel
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Correct channel name (#3793)
  pages/tools/github.md
Owners: @18F/tts-tech-portfolio

Define LT and GMT in the glossary (#3797)
  pages/general-information-and-resources/glossary.md
Owners: @18f/handbook-owners

Add #18f-project-leads-only slack channel (#3798)
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

add notes on sending email to OLU support (#3775)
  pages/training-and-development/olu.md
Owners: @18F/people-ops

Provide point of contact for DVL (#3792)
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update the text of a link
  pages/general-information-and-resources/business-and-ops-policies/top-secret.md
Owners: @18F/handbook-owners

Update overtime.md
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

Update the text of a link (#3801)
  pages/general-information-and-resources/business-and-ops-policies/top-secret.md
Owners: @18F/handbook-owners

Update overtime.md (#3803)
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

Remove links to PIV readers
  pages/getting-started/piv.md
Owners: @18F/people-ops

Remove links to PIV readers (#3807)
  pages/getting-started/piv.md
Owners: @18F/people-ops

Update conferences-events-training.md
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops
