Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @CivicActions/docs, @CivicActions/civicactions-team, @CivicActions/management, @openprivacy, @CivicActions/engineering, @CivicActions/pm, @CivicActions/security

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.

# These owners will be the default owners for everything in the repo.
# * @CivicActions/civicactions-team

# These will automatically assign PRs that touch files in these directories to their respective teams for review.
docs/00-contributing/* @CivicActions/docs
docs/010-welcome-to-civicactions/* @CivicActions/civicactions-team
docs/02-about-us/* @CivicActions/civicactions-team
docs/030-policies/* @CivicActions/management  @CivicActions/docs
docs/030-policies/security.md @CivicActions/management  @CivicActions/docs @openprivacy
docs/05-engineering/* @CivicActions/engineering  @CivicActions/docs
docs/06-project-management/* @CivicActions/pm  @CivicActions/docs
docs/07-sales-and-marketing/* @CivicActions/civicactions-team  @CivicActions/docs
docs/08-hr-admin/* @CivicActions/management  @CivicActions/docs
docs/100-security/* @CivicActions/security  @CivicActions/docs

Update supervisor-resources.md
  performance-management/supervisor-resources.md
Owners: none

Update agreements.md
  _pages/how-we-work/agreements.md
Owners: none

Update fitara.md
  _pages/policies/tech-policies/fitara.md
Owners: none

Update ttsjobs.md
  _pages/hiring-and-jobs/ttsjobs.md
Owners: none

Update ttsjobs.md
  _pages/hiring-and-jobs/ttsjobs.md
Owners: none

Fix typo on IDP page
  _pages/training-development/idp.md
Owners: none

updated training link
  _pages/hiring-and-jobs/hiring.md
Owners: none

Update agreements.md
  _pages/how-we-work/agreements.md
Owners: none

Update engineering.md
  _pages/business-units/18f/chapters/engineering.md
Owners: none

Update ttsjobs.md
  _pages/hiring-and-jobs/ttsjobs.md
Owners: none

updated all info to align with insite
  _pages/policies/employee-resources-policies/employment-verification.md
Owners: none

Casing, typos, and updates
  CONTRIBUTING.md
Owners: none

Update security & compliance leadership
  _pages/training-development/working-groups-and-guilds-101.md
Owners: none

update onboarding/offboarding information around Mural
  tools/mural.md
Owners: none

Updated leave instructions
  _pages/travel-leave/leave.md
Owners: none

Clarifying instructions for reporting phishing emails (#659)
  docs/100-security/incidents.md
Owners: @CivicActions/security, @CivicActions/docs

explicitly list Adobe options
  _pages/software-tools/adobe.md
Owners: none

clarify that *all* Adobe licenses are limited, not just Creative Cloud
  _pages/software-tools/adobe.md
Owners: none

Pre commit (#663)
  .github/workflows/pre-commit.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .pre-commit-search-and-replace.yaml
  .restyled.yaml
  CHANGELOG.md
  docs/000-contributing/file-structure.md
  docs/020-about-us/culture.md
  docs/030-policies/prodev.md
  docs/030-policies/security.md
  docs/040-employee-handbook-us/benefits-and-holidays.md
  docs/060-engineering/engineering-roles.md
  docs/080-sales-and-marketing/civicactions-marketing.md
  docs/100-security/incident-response-checklist.md
  docs/css/extra.css
Owners: @CivicActions/management, @CivicActions/docs, @openprivacy, @CivicActions/security

Update affinity-channels.md (#662)
  docs/050-how-we-work/diversity-equity-inclusion/affinity-channels.md
Owners: none

Performance Award
  performance-management/dates.md
Owners: none

clarify that partner tools can only be installed if approved
  _pages/business-units/18f/projects-partners/collaboration-tools.md
Owners: none

clarify expense approval process (#665)
  .github/workflows/pre-commit.yml
  docs/030-policies/expenses.md
Owners: @CivicActions/management, @CivicActions/docs

minor edit
  _pages/travel-leave/leave.md
Owners: none

Update leave.md
  _pages/travel-leave/leave.md
Owners: none

Update ttsjobs.md
  _pages/hiring-and-jobs/ttsjobs.md
Owners: none

Update ttsjobs.md
  _pages/hiring-and-jobs/ttsjobs.md
Owners: none

updated TSP instructions
  _pages/getting-started/classes/benefits.md
Owners: none

one minor typo correction
  _pages/training-development/conferences-events-training.md
Owners: none

Update tts-history values & PIF description
  _pages/about-us/tts-history.md
Owners: none

Acquisition Critical element
  performance-management/supervisor-resources.md
Owners: none

Acq critical element guide
  performance-management/index.md
Owners: none

Added acquisition critical element instructions
  performance-management/employee-resources.md
Owners: none

Clean up slack channel links
  _pages/business-units/18f/projects-partners/consulting-engineering-guide.md
Owners: none

simplify phishing reporting (#669)
  docs/100-security/incidents.md
Owners: @CivicActions/security, @CivicActions/docs

Update ttsjobs.md
  _pages/hiring-and-jobs/ttsjobs.md
Owners: none

docusign updates
  _pages/software-tools/digital-signatures.md
Owners: none

micropurchase update
  _pages/how-we-work/purchase-requests.md
Owners: none

Update purchase-requests.md
  _pages/how-we-work/purchase-requests.md
Owners: none

Update purchase-requests.md
  _pages/how-we-work/purchase-requests.md
Owners: none
