Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

oop x 6
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop x 9
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop x 4
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop x 5
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop x 3
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop x 8
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

externalize script
  .github/workflows/integrity-check.js
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

remove nondeterministic files from checks
  .github/workflows/integrity-check.js
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

Update dates.md
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update dates.md
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update dates.md (#3741)
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update leave.md
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update leave.md (#3742)
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Add link to policy for Gmail iOS app
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Update leave.md
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update leave.md (#3744)
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Foot notes do not work. Use an alert
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Try this form
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Tigten the alert
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Capital G with a lower case m
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Add link to policy for Gmail iOS app (#3743)
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Not not? Seriously?
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Not not? Seriously? (#3745)
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Update hrlinks-steps.md
  pages/performance-management/end-of-year/hrlinks-steps.md
Owners: @18F/handbook-owners

Update hrlinks-steps.md
  pages/performance-management/end-of-year/hrlinks-steps.md
Owners: @18F/handbook-owners

Update hrlinks-steps.md
  pages/performance-management/end-of-year/hrlinks-steps.md
Owners: @18F/handbook-owners

Update hrlinks-steps.md (#3747)
  pages/performance-management/end-of-year/hrlinks-steps.md
Owners: @18F/handbook-owners

Remove instances of "the the" from handbook text
  pages/18f/how-18f-works/one-on-ones.md
  pages/18f/how-18f-works/research-guidelines.md
  pages/18f/projects-partners/acquisition-engagement-types.md
  pages/launching-software/security.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

Remove unused Gemfile.lock
  Gemfile.lock
Owners: @18F/handbook-owners

Publish project materials for others to learn from
  downloads/TEMPLATE_Project_README.docx
  downloads/TEMPLATE_Team_charter.docx
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Publish project materials for others to learn from (#3753)
  downloads/TEMPLATE_Project_README.docx
  downloads/TEMPLATE_Team_charter.docx
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Update with direct link to section of Google doc
  pages/getting-started/classes/benefits.md
Owners: @18F/people-ops

Update with direct link to section of Google doc (#3754)
  pages/getting-started/classes/benefits.md
Owners: @18F/people-ops

Remove unused Gemfile.lock (#3749)
  Gemfile.lock
Owners: @18F/handbook-owners

Remove instances of "the the" from handbook text (#3748)
  pages/18f/how-18f-works/one-on-ones.md
  pages/18f/how-18f-works/research-guidelines.md
  pages/18f/projects-partners/acquisition-engagement-types.md
  pages/launching-software/security.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

Add timesheet guidance
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Updated internal link
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update leave.md
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Add timesheet guidance (#3757)
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update content guild leads
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops
