Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Update notifications-general-communication.md
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

Update user-management.md
  pages/tools/slack/user-management.md
Owners: @18F/handbook-owners

Updating GSA and external detail pages
  pages/hiring-staying-or-changing-jobs/gsa-details.md
Owners: @18F/team-talent

Slack updates (#3600)
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
  pages/tools/slack.md
  pages/tools/slack/guidelines.md
  pages/tools/slack/notifications-general-communication.md
  pages/tools/slack/user-management.md
Owners: @18F/team-talent, @18F/tts-tech-portfolio, @18F/handbook-owners

Update external-details.md
  pages/hiring-staying-or-changing-jobs/external-details.md
Owners: @18F/team-talent

Fix spelling
  pages/hiring-staying-or-changing-jobs/external-details.md
Owners: @18F/team-talent

Update email for travel vendor ID requests
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
Owners: @18F/handbook-owners

Updating GSA and external detail pages (#3601)
  pages/hiring-staying-or-changing-jobs/external-details.md
  pages/hiring-staying-or-changing-jobs/gsa-details.md
Owners: @18F/team-talent

new TTS org chart link
  _data/navigation.yml
Owners: @18F/handbook-owners

Update chicago.md -- replace 33rd floor with 35th
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

Update chicago.md -- replace 33rd floor with 35th (#3607)
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

Update first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
Owners: @18F/handbook-owners

Update first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
Owners: @18F/handbook-owners

Update first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
Owners: @18F/handbook-owners

Update email for travel vendor ID requests from new employees (#3603)
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
Owners: @18F/handbook-owners

new TTS org chart link (#3604)
  _data/navigation.yml
Owners: @18F/handbook-owners

another attempt? (#3591)
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

Update port number in README.md
  README.md
Owners: @18F/handbook-owners

Update chicago.md
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

Update chicago.md (#3611)
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

Slightly more plain-text travel explanation (#3540)
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

update 11ty and build steps
  .eleventy.js
  _includes/layouts/default.html
  _includes/travel-alert.html
  config/postbuild/index.js
  config/postbuild/privateLinks.js
  config/privateLinks.js
  package-lock.json
  package.json
  pages/getting-started/classes/travel-101.md
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/handbook-owners, @18F/people-ops

add back the travel advisory alert
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/people-ops

use standard sidenav
  _data/navigation.yml
  _includes/sidenav.html
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
  pages/getting-started/classes/travel-101.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-complete-concur-profile.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-travel-card.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-2-book-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-3-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-4-reimbursement.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-a-amended-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-b-after-hours-emergency-travel-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-email-templates.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
  pages/travel-and-leave/travel-and-leave-policies/working-while-traveling.md
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/handbook-owners, @18f/handbook-owners, @18F/people-ops

Add side nav to conflict pages (#3594)
  _data/navigation.yml
  _includes/sidenav.html
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
  pages/getting-started/classes/travel-101.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-complete-concur-profile.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-travel-card.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-2-book-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-3-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-4-reimbursement.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-a-amended-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-b-after-hours-emergency-travel-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-email-templates.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
  pages/travel-and-leave/travel-and-leave-policies/working-while-traveling.md
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/handbook-owners, @18f/handbook-owners, @18F/people-ops

Update 11ty to 2.0 and restructure builds to be faster (#3608)
  .eleventy.js
  _includes/layouts/default.html
  _includes/travel-alert.html
  config/postbuild/index.js
  config/postbuild/privateLinks.js
  config/privateLinks.js
  package-lock.json
  package.json
  pages/getting-started/classes/travel-101.md
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/handbook-owners, @18F/people-ops

refactor asset building and all of the other 11ty config stuff
  .eleventy.js
  .eslintrc.js
  .github/workflows/pull-request.yml
  .gitignore
  _includes/meta.html
  _includes/scripts.html
  config/HandbookPlugin.js
  config/buildAssets.js
  config/plugins/assets.js
  config/plugins/privateLinks.js
  config/privateLinks.js
  config/shortcodes.js
  config/shortcodes/download.js
  config/shortcodes/image.js
  config/shortcodes/imageWithClass.js
  config/shortcodes/index.js
  config/shortcodes/link.js
  config/shortcodes/page.js
  config/shortcodes/slackChannel.js
  config/shortcodes/usaCurrent.js
  config/shortcodes/uswdsIcon.js
  package-lock.json
  package.json
  postcss.config.js
Owners: @18F/handbook-owners

refactor asset building and all of the other 11ty config stuff
  .eleventy.js
  .eslintrc.js
  .github/workflows/pull-request.yml
  .gitignore
  _includes/meta.html
  _includes/scripts.html
  config/HandbookPlugin.js
  config/buildAssets.js
  config/plugins/assets.js
  config/plugins/privateLinks.js
  config/privateLinks.js
  config/shortcodes.js
  config/shortcodes/download.js
  config/shortcodes/image.js
  config/shortcodes/imageWithClass.js
  config/shortcodes/index.js
  config/shortcodes/link.js
  config/shortcodes/page.js
  config/shortcodes/slackChannel.js
  config/shortcodes/usaCurrent.js
  config/shortcodes/uswdsIcon.js
  package-lock.json
  package.json
  postcss.config.js
Owners: @18F/handbook-owners

put it in docker
  Dockerfile
  README.md
  docker-compose.yml
Owners: @18F/handbook-owners

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

put it in docker
  Dockerfile
  README.md
  docker-compose.yml
Owners: @18F/handbook-owners

indentation fixes
  _data/navigation.yml
Owners: @18F/handbook-owners

Add three acq-related terms to glossary
  pages/general-information-and-resources/glossary.md
Owners: @18f/handbook-owners

indentation fixes
  _data/navigation.yml
Owners: @18F/handbook-owners

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update emoji.md
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

Update emoji.md
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update pages/general-information-and-resources/glossary.md
  pages/general-information-and-resources/glossary.md
Owners: @18f/handbook-owners

Update pages/general-information-and-resources/glossary.md
  pages/general-information-and-resources/glossary.md
Owners: @18f/handbook-owners
