Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

Update hrlinks-steps.md
  pages/performance-management/mid-year/hrlinks-steps.md
Owners: @18F/handbook-owners

Wording updates
  pages/performance-management/dates.md
Owners: @18F/people-ops

Table format fix
  pages/performance-management/dates.md
Owners: @18F/people-ops

minor update
  pages/performance-management/dates.md
Owners: @18F/people-ops

Midyear import dates (#3573)
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update hrlinks-steps.md (#3574)
  pages/performance-management/mid-year/hrlinks-steps.md
Owners: @18F/handbook-owners

Added approvable to spell check
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Add links to "contractors in the federal workplaces" training
  pages/18f/how-18f-works/contractors.md
Owners: @18F/handbook-owners

One thing per line
  pages/18f/how-18f-works/contractors.md
Owners: @18F/handbook-owners

Update references to microrequests channel (#3520)
  pages/18f/chapters/design.md
  pages/18f/projects-partners/consulting-engineering-guide.md
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Hc/3500 update design tool guidance (#3567)
  _data/navigation.yml
  pages/18f/chapters/design.md
  pages/launching-software/lifecycle.md
  pages/tools/figma.md
  pages/tools/sketch.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

remove FY
  pages/performance-management/mid-year.md
Owners: @18F/people-ops

Changed "his/her" to "they"
  pages/performance-management/mid-year.md
Owners: @18F/people-ops

Update leaving-tts.md
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

add step indicator of conflict
  _data/healthy-conflict.yml
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
Owners: @18F/handbook-owners, @18f/handbook-owners

fix spelling of step indicator
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
Owners: @18f/handbook-owners

Update fitara.md and close #3445
  pages/general-information-and-resources/tech-policies/fitara.md
Owners: @18f/tts-tech-portfolio

update spellcheck ignore list
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update research-guidelines.md
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

update to use page helper
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

fix path
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Changed "his/her" to "they" (#3579)
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
  pages/performance-management/mid-year.md
Owners: @18F/team-talent, @18F/people-ops

Union Update
  pages/performance-management/mid-year.md
Owners: @18F/people-ops

Union Update (#3583)
  pages/performance-management/mid-year.md
Owners: @18F/people-ops

Add links to TTS Contractor in the Federal Workplace trainings (#3575)
  pages/18f/how-18f-works/contractors.md
Owners: @18F/handbook-owners

Add info on canceled leave error (#3572)
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
  pages/travel-and-leave/leave.md
Owners: @18f/people-ops, @18F/people-ops

Update research-guidelines.md (#3562)
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Update working-groups-and-guilds-101.md (#3561)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
Owners: @18F/handbook-owners

Update conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-intro.md
Owners: @18f/handbook-owners

Update conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-intro.md
Owners: @18f/handbook-owners

add real dictionary word
  cSpell.json
Owners: @18F/handbook-owners

Lg/health conflict progress (#3580)
  _data/healthy-conflict.yml
  cSpell.json
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
Owners: @18F/handbook-owners, @18f/handbook-owners

remove FY (#3576)
  pages/performance-management/mid-year.md
Owners: @18F/people-ops

Update leading-projects.md (#3553)
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Update fitara.md and close #3445 (#3581)
  pages/general-information-and-resources/tech-policies/fitara.md
Owners: @18f/tts-tech-portfolio

Update first-time-travel-get-in-concur.md (#3585)
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
Owners: @18F/handbook-owners

Update slack.md
  pages/tools/slack.md
Owners: @18F/tts-tech-portfolio

Update getting-started.md
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio
