Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Update Group creation links
  pages/tools/google-groups.md
Owners: @18F/tts-tech-portfolio

Update Group creation links (#3760)
  pages/tools/google-groups.md
Owners: @18F/tts-tech-portfolio

Update washington-dc.md
  pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

Update washington-dc.md (#3762)
  pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Owners: @18F/handbook-owners

fix: package.json & package-lock.json to reduce vulnerabilities (#3763)
  package-lock.json
  package.json
Owners: @18F/handbook-owners

Update content guild leads (#3758)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update leaving-tts.md
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Update voluntary-leave-transfer-program.md
  pages/travel-and-leave/voluntary-leave-transfer-program.md
Owners: @18F/people-ops

Update voluntary-leave-transfer-program.md (#3768)
  pages/travel-and-leave/voluntary-leave-transfer-program.md
Owners: @18F/people-ops

Fix broken link
  pages/office-of-operations/social-media.md
Owners: @18F/handbook-owners

Fix broken link (#3770)
  pages/office-of-operations/social-media.md
Owners: @18F/handbook-owners

changes cloud.gov pages deployment to node 18
  .nvmrc
Owners: @18F/handbook-owners

changes cloud.gov pages deployment to node 18 (#3771)
  .nvmrc
Owners: @18F/handbook-owners

Post-enterprise acquisition update
  pages/tools/airtable.md
Owners: @18F/tts-tech-portfolio

Post-enterprise acquisition update (#3774)
  pages/tools/airtable.md
Owners: @18F/tts-tech-portfolio

Update leaving-tts.md (#3764)
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

add notes on sending email to OLU support
  pages/training-and-development/olu.md
Owners: @18F/people-ops

Update airtable.md
  pages/tools/airtable.md
Owners: @18F/tts-tech-portfolio

Update airtable.md (#3776)
  pages/tools/airtable.md
Owners: @18F/tts-tech-portfolio

Clarify that no base schedule pop-up = ok
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update software.md
  pages/general-information-and-resources/software.md
Owners: @18f/handbook-owners

Update software.md (#3780)
  pages/general-information-and-resources/software.md
Owners: @18f/handbook-owners

Update leave.md
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update index.md
  pages/training-and-development/index.md
Owners: @18F/people-ops

Clarify that no base schedule pop-up = ok (#3777)
  pages/training-and-development/index.md
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Clarify language around SF-182 requirement for buying books
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Clarify language around SF-182 requirement for buying books
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Clarify language around SF-182 requirement for buying books (#3784)
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Update travel office hours scheduling link
  pages/general-information-and-resources/purchase-requests.md
  pages/getting-started/classes/travel-101.md
  pages/office-of-operations/bizops.md
  pages/training-and-development/conferences-events-training.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-complete-concur-profile.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-2-book-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-3-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-4-reimbursement.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-a-amended-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-b-after-hours-emergency-travel-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-email-templates.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18f/handbook-owners, @18F/people-ops, @18F/handbook-owners

Update travel office hours scheduling link (#3785)
  pages/general-information-and-resources/purchase-requests.md
  pages/getting-started/classes/travel-101.md
  pages/office-of-operations/bizops.md
  pages/training-and-development/conferences-events-training.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-complete-concur-profile.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-2-book-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-3-travel.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-4-reimbursement.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-a-amended-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-b-after-hours-emergency-travel-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-email-templates.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18f/handbook-owners, @18F/people-ops, @18F/handbook-owners

update links & names
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Update conferences-events-training.md
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

update links & names (#3786)
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops
