Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

apostrophe
  pages/general-information-and-resources/deia-resources.md
Owners: @18f/handbook-owners

words
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/general-information-and-resources/business-and-ops-policies/top-secret.md
  pages/general-information-and-resources/chicago.md
Owners: @18F/handbook-owners, @18f/handbook-owners

words
  cSpell.json
Owners: @18F/handbook-owners

more
  pages/18f/projects-partners/working-on-an-acquisition-engagement.md
  pages/CONTRIBUTING.md
  pages/about-us/code-of-conduct.md
  pages/about-us/digital-council.md
Owners: @18F/handbook-owners

more
  cSpell.json
  pages/18f/projects-partners/leading-projects.md
  pages/18f/projects-partners/microrequests.md
Owners: @18F/handbook-owners

fix: Supervisory
  pages/18f/leadership-resources/leadership-selection.md
Owners: @18F/handbook-owners

more
  cSpell.json
Owners: @18F/handbook-owners

local ignore
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

more
  cSpell.json
  pages/18f/how-18f-works/one-on-ones.md
  pages/18f/how-18f-works/procurements-over-10000.md
Owners: @18F/handbook-owners

more
  cSpell.json
  pages/18f/chapters/engineering.md
  pages/18f/history-and-values.md
  pages/18f/how-18f-works/accessing-dod-systems.md
Owners: @18F/handbook-owners, @18F/18f-handbook-owners

fix: necessary
  pages/18f/chapters/engineering.md
Owners: @18F/handbook-owners

more
  pages/18f/chapters/design.md
  pages/18f/chapters/engineering.md
Owners: @18F/handbook-owners

last of it
  cSpell.json
  pages/18f/chapters/design.md
  pages/18f/how-18f-works/client-accounts.md
Owners: @18F/handbook-owners

Feedback: Use "Reengineering"
  cSpell.json
  pages/general-information-and-resources/glossary.md
Owners: @18F/handbook-owners, @18f/handbook-owners

Update pages/performance-management/mid-year.md
  pages/performance-management/mid-year.md
Owners: @18F/people-ops

Feedback: add docusign to global ignore
  cSpell.json
  pages/18f/how-18f-works/accessing-dod-systems.md
  pages/general-information-and-resources/business-and-ops-policies/top-secret.md
  pages/getting-started/classes/benefits.md
  pages/tools/digital-signatures.md
Owners: @18F/handbook-owners, @18F/people-ops, @18F/tts-tech-portfolio

Feedback: Add "quicklinks" to global ignore
  cSpell.json
  pages/general-information-and-resources/employee-resources-policies/benefits-links.md
  pages/performance-management/index.md
Owners: @18F/handbook-owners, @18f/people-ops, @18F/people-ops

Feedback: backtick instead of ignore
  pages/18f/projects-partners/microrequests.md
Owners: @18F/handbook-owners

backtick instead of ignore
  pages/getting-started/classes/writing-lab.md
Owners: @18F/guild-content

introduce a spelling error to show github actions output
  pages/getting-started/classes/writing-lab.md
Owners: @18F/guild-content

fix the intentionally introduced spelling error
  pages/getting-started/classes/writing-lab.md
Owners: @18F/guild-content

syncing jobs from TTSJobs
  _data/jobs.json
Owners: @18F/team-talent

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update navigation.yml (#3501)
  _data/navigation.yml
Owners: @18F/handbook-owners

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md (#3502)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update conferences-events-training.md
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Use parens
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3507)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

syncing jobs from TTSJobs
  _data/jobs.json
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3509)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent
