Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

add the Handbook update docs to front page nav; other minor fixes while we're doing
  _data/navigation.yml
  pages/tools/pages.md
  pages/training-and-development/intro-to-github.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

Update washington-dc.md (#3634)
  pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

Update travel-guide-faq.md (#3627)
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

add the Handbook update docs to front page nav; other minor fixes while we're doing (#3635)
  _data/navigation.yml
  pages/tools/pages.md
  pages/training-and-development/intro-to-github.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

update how private links are rendered
  config/plugins/privateLinks.js
Owners: @18F/handbook-owners

don't need the CSS class anymore
  styles/custom/screen.scss
Owners: @18F/handbook-owners

Joe is real
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

tag external links too
  config/plugins/privateLinks.js
Owners: @18F/handbook-owners

Make private links more consistent across experiences (#3637)
  config/plugins/privateLinks.js
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
  styles/custom/screen.scss
Owners: @18F/handbook-owners

Add AP to content guild lead; remove typo
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Fix typo
  pages/18f/projects-partners/working-on-an-acquisition-engagement.md
Owners: @18F/handbook-owners

Fix typo
  pages/updating-the-handbook/components.md
Owners: @18F/handbook-owners

Fix typo
  _includes/step-indicator.html
Owners: @18F/handbook-owners

Typos and other text updates (#3639)
  _includes/step-indicator.html
  pages/18f/projects-partners/working-on-an-acquisition-engagement.md
  pages/training-and-development/working-groups-and-guilds-101.md
  pages/updating-the-handbook/components.md
Owners: @18F/handbook-owners, @18F/people-ops

Update emoji process to reflect changes in Slack
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

Update emoji process to reflect changes in Slack (#3640)
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

Update work-schedules.md
  pages/general-information-and-resources/employee-resources-policies/work-schedules.md
Owners: @18f/people-ops

Update chicago.md
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

Update work-schedules.md (#3643)
  pages/general-information-and-resources/employee-resources-policies/work-schedules.md
Owners: @18f/people-ops

Update chicago.md (#3644)
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

Create psychological-safety.md
  pages/general-information-and-resources/psychological-safety.md
Owners: @18f/handbook-owners

Update spellchecker
  pages/general-information-and-resources/psychological-safety.md
Owners: @18f/handbook-owners

Update accessibility guild leads
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update guild leads for accessibility
  pages/getting-started/classes/accessibility.md
Owners: @18F/guild-accessibility

Add names to cSpell line
  pages/getting-started/classes/accessibility.md
Owners: @18F/guild-accessibility

Add new names to cSpell
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Add Samira as new engineering guild co-lead
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update cSpell.json
  cSpell.json
Owners: @18F/handbook-owners

Update accessibility guild leads (#3648)
  pages/getting-started/classes/accessibility.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/guild-accessibility, @18F/people-ops

Add Samira as new engineering guild co-lead (#3649)
  cSpell.json
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/handbook-owners, @18F/people-ops

Create psychological-safety.md (#3647)
  pages/general-information-and-resources/psychological-safety.md
Owners: @18f/handbook-owners

Revise psychsafety intro + add to homepage
  pages/general-information-and-resources/psychological-safety.md
Owners: @18f/handbook-owners

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Fix spelling and internal link
  pages/general-information-and-resources/psychological-safety.md
Owners: @18f/handbook-owners

Update index.md
  pages/training-and-development/index.md
Owners: @18F/people-ops

Update index.md (#3651)
  pages/training-and-development/index.md
Owners: @18F/people-ops

Update pages/general-information-and-resources/psychological-safety.md
  pages/general-information-and-resources/psychological-safety.md
Owners: @18f/handbook-owners

Revise psychsafety intro + add to homepage (#3650)
  _data/navigation.yml
  pages/general-information-and-resources/psychological-safety.md
Owners: @18F/handbook-owners, @18f/handbook-owners

Remove travel update alert from 2021
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/people-ops

Update npm start code in README
  README.md
Owners: @18F/handbook-owners
