Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

missing quote
  pages/general-information-and-resources/employee-resources-policies/work-schedules.md
Owners: @18f/people-ops

internal link fix
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Update pronoun.is link to an Internet Archive link (#3482)
  pages/18f/how-18f-works/research-guidelines.md
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3483)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md (#3487)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Create work-schedules.md (#3481)
  pages/general-information-and-resources/employee-resources-policies/work-schedules.md
Owners: @18f/people-ops

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update navigation.yml (#3488)
  _data/navigation.yml
Owners: @18F/handbook-owners

Update design.md
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

Update design.md
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3490)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

add spellcheck to pull request workflow
  .github/workflows/pull-request.yml
Owners: @18F/handbook-owners

Add initial cSpell file
  cSpell.json
Owners: @18F/handbook-owners

fix: "received"
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Add some words
  cSpell.json
Owners: @18F/handbook-owners

fix: backticks
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-travel-card.md
Owners: @18F/handbook-owners

more known words
  cSpell.json
Owners: @18F/handbook-owners

standardize en-US
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: spacing
  pages/training-and-development/external-speaking-request-playbook.md
Owners: @18F/people-ops

fix: spacing
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

fix: "activities"
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: "especially"
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

fix: "someone"
  pages/tools/slack/guidelines.md
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: "straightforward"
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

fix: "government"
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

more wrods
  cSpell.json
Owners: @18F/handbook-owners

fix: "amendment"
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: "ZIP code"
  pages/travel-and-leave/travel-and-leave-policies/moving.md
Owners: @18F/handbook-owners

fix: "administrator"
  pages/tools/mural.md
Owners: @18F/tts-tech-portfolio

add words
  cSpell.json
Owners: @18F/handbook-owners

fix: "facilitate"
  pages/tools/google-drive.md
Owners: @18F/tts-tech-portfolio

fix: "packaged"
  pages/tools/google-meet.md
Owners: @18F/tts-tech-portfolio
