Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Added U.S. Digital Corps presentation template to external speaking request playbook (#3695)
  pages/training-and-development/external-speaking-request-playbook.md
Owners: @18F/people-ops

Add line break to research guild paragraphs
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Add line break to research guild paragraphs (#3703)
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Reminder about checking leave
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Reminder about checking leave (#3705)
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

remove invalid link
  pages/travel-and-leave/july-13-travel-guidance.md
Owners: @18F/people-ops

Update working-groups-and-guilds-101.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

remove invalid link
  pages/travel-and-leave/july-13-travel-guidance.md
Owners: @18F/people-ops

Update working-groups-and-guilds-101.md (#3711)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update travel-guide-faq.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Update travel-guide-faq.md (#3714)
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Update supervisor-resources.md
  pages/performance-management/supervisor-resources.md
Owners: @18F/people-ops

Update supervisor-resources.md (#3719)
  pages/performance-management/supervisor-resources.md
Owners: @18F/people-ops

Update working-groups-and-guilds-101.md (#3696)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update supervisor-resources.md
  pages/performance-management/supervisor-resources.md
Owners: @18F/people-ops

Update supervisor-resources.md (#3720)
  pages/performance-management/supervisor-resources.md
Owners: @18F/people-ops

Authy is not an approved mobile application at GSA (#3699)
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Update Security and Compliance Guild co-leads
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

New HR Links Job Aid link
  pages/general-information-and-resources/employee-resources-policies/work-schedules.md
Owners: @18f/people-ops

New HR Links Job Aid link (#3721)
  pages/general-information-and-resources/employee-resources-policies/work-schedules.md
Owners: @18f/people-ops

Update Security and Compliance Guild co-leads (#3722)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update employee-resources.md
  pages/performance-management/employee-resources.md
Owners: @18F/people-ops

Update employee-resources.md (#3723)
  pages/performance-management/employee-resources.md
Owners: @18F/people-ops

Update index.md
  pages/performance-management/index.md
Owners: @18F/people-ops

Update index.md (#3724)
  pages/performance-management/index.md
Owners: @18F/people-ops

Update leaving-tts.md
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Update leaving-tts.md (#3725)
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Refine list of spelling exceptions in guilds and groups page
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Owners: @18F/handbook-owners

Refine list of spelling exceptions in guilds and groups page (#3728)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update intro-to-github.md with new link
  pages/training-and-development/intro-to-github.md
Owners: @18F/tts-tech-portfolio

fix: package.json & package-lock.json to reduce vulnerabilities (#3727)
  package-lock.json
  package.json
Owners: @18F/handbook-owners

Update supervisor-resources.md
  pages/performance-management/supervisor-resources.md
Owners: @18F/people-ops

Update supervisor-resources.md (#3734)
  pages/performance-management/supervisor-resources.md
Owners: @18F/people-ops

Update intro-to-github.md
  pages/training-and-development/intro-to-github.md
Owners: @18F/tts-tech-portfolio

Update intro-to-github.md with new link (#3729)
  pages/training-and-development/intro-to-github.md
Owners: @18F/tts-tech-portfolio

integrity check
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop x 2
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners

oop x 7
  .github/workflows/integrity-check.yml
Owners: @18F/handbook-owners
