Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

more word
  cSpell.json
Owners: @18F/handbook-owners

fix: "management"
  pages/performance-management/supervisor-resources.md
Owners: @18F/people-ops

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: "received"
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

fix: hyphen
  pages/travel-and-leave/voluntary-leave-transfer-program.md
Owners: @18F/people-ops

fix: hyphen
  pages/getting-started/classes/travel-101.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur-pre-olu.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-a-amended-authorizations.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/people-ops, @18F/handbook-owners

add words
  cSpell.json
Owners: @18F/handbook-owners

hyphen
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

local ignores
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-travel-card.md
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: capitalize acronym
  pages/training-and-development/external-speaking-request-playbook.md
Owners: @18F/people-ops

remove hyphen
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

more words
  cSpell.json
Owners: @18F/handbook-owners

local ignore
  pages/tools/digital-signatures.md
Owners: @18F/tts-tech-portfolio

fix: "assessment"
  pages/performance-management/mid-year/hrlinks-steps.md
Owners: @18F/handbook-owners

fix: "management"
  pages/performance-management/employee-resources.md
Owners: @18F/people-ops

fix: "Performance"
  pages/performance-management/end-of-year/hrlinks-steps.md
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: "opportunity"
  pages/office-of-operations/fas-speaker-guide.md
Owners: @18F/handbook-owners

fix: "responding"
  pages/launching-software/infrastructure.md
Owners: @18F/tts-tech-portfolio

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: announcements
  pages/launching-software/infrastructure.md
Owners: @18F/tts-tech-portfolio

fix: maintenance
  pages/launching-software/infrastructure.md
Owners: @18F/tts-tech-portfolio

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: general
  pages/getting-started/equipment.md
Owners: @18F/people-ops

more words
  cSpell.json
Owners: @18F/handbook-owners

fix: available
  pages/getting-started/equipment.md
Owners: @18F/people-ops

more words
  cSpell.json
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/tools/text-editors.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/tts-tech-portfolio, @18F/handbook-owners

local ignores
  pages/tools/github.md
Owners: @18F/tts-tech-portfolio

fix: space
  pages/tools/github.md
Owners: @18F/tts-tech-portfolio

fix: invitation
  pages/tools/github.md
Owners: @18F/tts-tech-portfolio

local ignores
  pages/tools/github.md
Owners: @18F/tts-tech-portfolio

more words
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

words
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-complete-concur-profile.md
Owners: @18F/handbook-owners

words
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops
