Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

fix: principles
  pages/18f/chapters/acqstack.md
Owners: @18F/handbook-owners

more words
  cSpell.json
Owners: @18F/handbook-owners

words
  cSpell.json
Owners: @18F/handbook-owners

backtick
  pages/performance-management/mid-year.md
Owners: @18F/people-ops

words
  pages/launching-software/lifecycle.md
Owners: @18F/tts-tech-portfolio

fix: sportcoats
  pages/general-information-and-resources/new-york-city.md
Owners: @18f/handbook-owners

word
  cSpell.json
Owners: @18F/handbook-owners

words
  cSpell.json
Owners: @18F/handbook-owners

backticks
  pages/getting-started/classes.md
Owners: @18F/people-ops

local ignore
  pages/performance-management/index.md
Owners: @18F/people-ops

words
  cSpell.json
Owners: @18F/handbook-owners

fix: licensed
  pages/getting-started/classes/benefits.md
Owners: @18F/people-ops

more
  pages/getting-started/classes/benefits.md
Owners: @18F/people-ops

word
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/office-of-operations/social-media.md
  pages/office-of-solutions/history.md
Owners: @18F/handbook-owners, @18F/solutions-handbook-owners

words
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/launching-software/security.md
Owners: @18F/tts-tech-portfolio

ignore
  pages/office-of-acquisition/index.md
Owners: @18F/tts-office-of-acqusition

Update design.md (#3489)
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

word
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/office-of-acquisition/management-reviews-of-procurement-actions.md
  pages/office-of-operations/blogging.md
  pages/office-of-operations/fas-speaker-guide.md
  pages/office-of-operations/outreach.md
Owners: @18F/tts-office-of-acqusition, @18F/outreach, @18F/handbook-owners

local ignores
  pages/launching-software/security.md
Owners: @18F/tts-tech-portfolio

fix: allot
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

backticks
  pages/getting-started/how-to-log-in.md
Owners: @18F/people-ops

local ignore
  pages/hiring-staying-or-changing-jobs/hiring-authorities.md
Owners: @18F/team-talent

words
  cSpell.json
Owners: @18F/handbook-owners

apostrophe
  pages/hiring-staying-or-changing-jobs/external-details.md
Owners: @18F/team-talent

words
  cSpell.json
Owners: @18F/handbook-owners

backticks
  pages/getting-started/classes/travel-101.md
  pages/getting-started/classes/writing-lab.md
Owners: @18F/people-ops, @18F/guild-content

more
  pages/general-information-and-resources/washington-dc.md
  pages/getting-started/classes/accessibility.md
  pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md
Owners: @18f/handbook-owners, @18F/guild-accessibility, @18F/tts-tech-portfolio

word
  cSpell.json
Owners: @18F/handbook-owners

local ignore
  pages/general-information-and-resources/tech-policies/fitara.md
  pages/general-information-and-resources/tech-policies/security-incidents.md
Owners: @18f/tts-tech-portfolio

fix: sponsor
  pages/general-information-and-resources/sensitive-information.md
Owners: @18f/handbook-owners

more
  pages/general-information-and-resources/purchase-requests.md
  pages/general-information-and-resources/san-francisco.md
Owners: @18f/handbook-owners

local ignore
  pages/general-information-and-resources/employee-resources-policies/deaf-hoh.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
  pages/general-information-and-resources/how-we-collaborate.md
  pages/general-information-and-resources/inclusion-bot.md
  pages/general-information-and-resources/new-york-city.md
Owners: @18f/people-ops, @18f/handbook-owners

fix: Preparation
  pages/general-information-and-resources/employee-resources-policies/deaf-hoh.md
Owners: @18f/people-ops

more words
  cSpell.json
Owners: @18F/handbook-owners

local ignores
  pages/general-information-and-resources/collaboration-tools.md
Owners: @18f/handbook-owners

local ignores
  pages/general-information-and-resources/distributed.md
  pages/general-information-and-resources/employee-resources-policies/benefits-links.md
Owners: @18f/handbook-owners, @18f/people-ops

words
  cSpell.json
Owners: @18F/handbook-owners
