Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3512)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Updated step 2 of creating SF-182
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Update conferences-events-training with info about modifying supes in SF-182 (#3506)
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

syncing jobs from TTSJobs
  _data/jobs.json
Owners: @18F/team-talent

update dependencies
  package-lock.json
Owners: @18F/handbook-owners

Make GitHub editing standard; remove Netlify CMS (#3308)
  .eleventy.js
  _includes/footer.html
  check-links.js
  config/buildAssets.js
  config/netlify.yml
  js/admin.js
  package-lock.json
  package.json
  pages/CONTRIBUTING.md
  pages/admin/index.html
Owners: @18F/handbook-owners

use slack_channel helper
  pages/getting-started/classes/writing-lab.md
Owners: @18F/guild-content

use slack_channel helper
  pages/18f/projects-partners/microrequests.md
Owners: @18F/handbook-owners

remove atom
  pages/tools/text-editors.md
Owners: @18F/tts-tech-portfolio

remove plugin
  pages/tools/google-meet.md
Owners: @18F/tts-tech-portfolio

use slack_channel helper; remove pseudo-channel names
  pages/getting-started/classes.md
Owners: @18F/people-ops

change to 18f-helpwanted
  pages/18f/chapters/design.md
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

change to 18f-helpwanted (#3519)
  pages/18f/chapters/design.md
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

remove microrequests page entirely
  _data/navigation.yml
  pages/18f/projects-partners/microrequests.md
Owners: @18F/handbook-owners

remove #microrequests - archived
  pages/getting-started/classes/writing-lab.md
Owners: @18F/guild-content

update references to #microrequests
  pages/18f/chapters/design.md
  pages/18f/projects-partners/consulting-engineering-guide.md
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update ttsjobs.md (#3522)
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Add FOIA redaction guidelines
  pages/tools/slack/records.md
Owners: @18F/handbook-owners

write redirect for pages that redirect
  _includes/layouts/base.html
Owners: @18F/handbook-owners

fix redirect path
  pages/tools/vmware-horizon.md
Owners: @18F/tts-tech-portfolio

more robust test
  check-links.js
Owners: @18F/handbook-owners

Add FOIA redaction guidelines (#3523)
  pages/tools/slack/records.md
Owners: @18F/handbook-owners

Update ttsjobs.md
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

remove automation; remove job data; update link from Talent page
  .github/workflows/pull-jobs-from-jointts.yml
  _data/jobs.json
  pages/office-of-operations/talent.md
Owners: @18F/handbook-owners, @18F/team-talent

syncing jobs from TTSJobs
  _data/jobs.json
Owners: @18F/team-talent

Update ttsjobs.md (#3525)
  .github/workflows/pull-jobs-from-jointts.yml
  _data/jobs.json
  pages/hiring-staying-or-changing-jobs/ttsjobs.md
  pages/office-of-operations/talent.md
Owners: @18F/handbook-owners, @18F/team-talent

Update talent.md
  pages/office-of-operations/talent.md
Owners: @18F/team-talent

Update talent.md (#3531)
  pages/office-of-operations/talent.md
Owners: @18F/team-talent

Update moving.md
  pages/travel-and-leave/travel-and-leave-policies/moving.md
Owners: @18F/handbook-owners

Update moving.md (#3533)
  pages/travel-and-leave/travel-and-leave-policies/moving.md
Owners: @18F/handbook-owners

SF-182 guide update
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Update overtime.md
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

Update leave.md
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Fix a bug that prevented pages from redirecting away (#3524)
  _includes/layouts/base.html
  check-links.js
  pages/tools/vmware-horizon.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

remove plugin (#3517)
  pages/tools/google-meet.md
Owners: @18F/tts-tech-portfolio

remove atom (#3516)
  pages/tools/text-editors.md
Owners: @18F/tts-tech-portfolio

Update overtime.md (#3535)
  pages/travel-and-leave/leave.md
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

Update leave.md
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops
