Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

Update how-to-log-in.md
  pages/getting-started/how-to-log-in.md
Owners: @18F/people-ops

Update how-to-log-in.md (#3658)
  pages/getting-started/how-to-log-in.md
Owners: @18F/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Update transit-benefit.md (#3660)
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

Give Leah a break from being the DC point of contact
  pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

Give Leah a break from being the DC point of contact (#3665)
  pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

Update working-groups-and-guilds-101.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update working-groups-and-guilds-101.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update working-groups-and-guilds-101.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update working-groups-and-guilds-101.md (#3667)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update benefits.md
  pages/getting-started/classes/benefits.md
Owners: @18F/people-ops

Update chicago.md
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

Update chicago.md (#3673)
  pages/general-information-and-resources/chicago.md
Owners: @18f/handbook-owners

RM content-design channel
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

RM content-design channel (#3674)
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

Update Coaching Services link
  pages/training-and-development/index.md
Owners: @18F/people-ops

Update Coaching Services link (#3675)
  pages/training-and-development/index.md
Owners: @18F/people-ops

Update travel-guide-faq.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Update travel-guide-faq.md (#3677)
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Remove extra "| render" to fix info rendering on Travel Guide
  _includes/alert.html
Owners: @18F/handbook-owners

Update local running instructions in README
  README.md
Owners: @18F/handbook-owners

preserve html in md render; don't pre-render travel alert
  _includes/alert.html
  config/filters/render.js
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/handbook-owners, @18F/people-ops

Update alert rendering to fix visual bug (#3680)
  README.md
  config/filters/render.js
  pages/travel-and-leave/travel-guide-table-of-contents.md
Owners: @18F/handbook-owners, @18F/people-ops

Update first-time-travel-get-in-concur.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
Owners: @18F/handbook-owners

Update first-time-travel-get-in-concur.md (#3681)
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
Owners: @18F/handbook-owners

Update washington-dc.md
  pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

Update software.md
  pages/general-information-and-resources/software.md
Owners: @18f/handbook-owners

Update intro-to-github.md
  pages/training-and-development/intro-to-github.md
Owners: @18F/tts-tech-portfolio

Update travel-guide-faq.md
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Update travel-guide-faq.md (#3686)
  pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Update software.md (#3685)
  pages/general-information-and-resources/software.md
Owners: @18f/handbook-owners

Concur and Building access updates (#3683)
  pages/general-information-and-resources/washington-dc.md
  pages/training-and-development/intro-to-github.md
Owners: @18f/handbook-owners, @18F/tts-tech-portfolio

Added U.S. Digital Corps presentation template to external speaking request playbook
  pages/training-and-development/external-speaking-request-playbook.md
Owners: @18F/people-ops

Update working-groups-and-guilds-101.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Remove redundant step from README.md
  README.md
Owners: @18F/handbook-owners

Remove redundant step from README.md (#3697)
  README.md
Owners: @18F/handbook-owners

Added Research Guild README to Research Guidelines page
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

corrected punctuation
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

Authy is not an approved mobile application at GSA
  pages/getting-started/equipment.md
Owners: @18F/people-ops

Erinsong issue3435 add research guild readme (#3698)
  pages/18f/how-18f-works/research-guidelines.md
Owners: @18F/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio
