Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

SF-182 guide update (#3534)
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Cloud.gov has changed their Tock policy (#3550)
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

Add FAQ for getting Concur approver access (#3544)
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
Owners: @18F/handbook-owners

Add link to Handbook homepage, add missing space (#3552)
  _data/navigation.yml
  pages/general-information-and-resources/reasonable-accommodations.md
Owners: @18F/handbook-owners, @18f/handbook-owners

Update leading-projects.md
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Update travel-101.md
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

Updated Hyperlinks
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update travel-101.md (#3556)
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

Update midyear dates
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update Hyperlinks to Mid year
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update dates.md
  pages/performance-management/dates.md
Owners: @18F/people-ops

Update travel-101.md
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

Updated Hyperlinks (#3557)
  pages/getting-started/classes/travel-101.md
  pages/performance-management/dates.md
Owners: @18F/people-ops

OHRM Email Update
  pages/performance-management/dates.md
Owners: @18F/people-ops

OHRM Email Update (#3558)
  pages/performance-management/dates.md
Owners: @18F/people-ops

Create conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-intro.md
Owners: @18f/handbook-owners

Update conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-intro.md
Owners: @18f/handbook-owners

Create conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-principles.md
Owners: @18f/handbook-owners

Create conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
Owners: @18f/handbook-owners

Create conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
Owners: @18f/handbook-owners

Update conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
Owners: @18f/handbook-owners

Create conflict-feedback-receiving-feedback.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
Owners: @18f/handbook-owners

Update conflict-feedback-receiving-feedback.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
Owners: @18f/handbook-owners

Update working-groups-and-guilds-101.md
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Create conflict-feedback-intro.md (#3559)
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
Owners: @18f/handbook-owners

Add Zscaler and Figma, and removed InVision from navigation. Added new page for Figma.
  _data/navigation.yml
  pages/tools/figma.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

Updated Figma and Sketch pages
  pages/tools/figma.md
  pages/tools/sketch.md
Owners: @18F/tts-tech-portfolio

Updated tools section in design.md
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

Updated links
  pages/18f/chapters/design.md
  pages/launching-software/lifecycle.md
Owners: @18F/handbook-owners, @18F/tts-tech-portfolio

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update navigation.yml (#3569)
  _data/navigation.yml
Owners: @18F/handbook-owners

use slack_channel helper; remove pseudo-channel names (#3518)
  pages/getting-started/classes.md
Owners: @18F/people-ops

Comp Time Calculator
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

Fix for AMP violation on search button
  _includes/searchgov/form.html
Owners: @18F/handbook-owners

Comp Time Calculator (#3570)
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

Fix for AMP violation on search button (#3571)
  _includes/searchgov/form.html
Owners: @18F/handbook-owners

Add info on canceled leave error
  pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update transit-benefit.md
  pages/general-information-and-resources/employee-resources-policies/transit-benefit.md
Owners: @18f/people-ops

use slack_channel helper (#3514)
  pages/getting-started/classes/writing-lab.md
Owners: @18F/guild-content

Midyear import dates
  pages/performance-management/dates.md
Owners: @18F/people-ops

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio
