Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Update overtime.md
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

Update san-francisco.md
  pages/general-information-and-resources/san-francisco.md
Owners: @18f/handbook-owners

Update san-francisco.md
  pages/general-information-and-resources/san-francisco.md
Owners: @18f/handbook-owners

Update san-francisco.md
  pages/general-information-and-resources/san-francisco.md
Owners: @18f/handbook-owners

Update index.html -- remove Most Visited
  pages/index.html
Owners: @18F/handbook-owners

Delete most-visited.html
  _includes/most-visited.html
Owners: @18F/handbook-owners

Update san-francisco.md -- fix form link
  pages/general-information-and-resources/san-francisco.md
Owners: @18f/handbook-owners

Update pages/general-information-and-resources/san-francisco.md
  pages/general-information-and-resources/san-francisco.md
Owners: @18f/handbook-owners

Update bike parking information for SF Office (#3537)
  pages/general-information-and-resources/san-francisco.md
Owners: @18f/handbook-owners

Slightly more plain-text travel explanation
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

Add Jess Dussault as Consulting Guild co-lead
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

don't spellcheck names
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Add Jess Dussault as Consulting Guild co-lead (#3541)
  pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update slack.md
  pages/tools/slack.md
Owners: @18F/tts-tech-portfolio

Update getting-started.md
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners

add back in general help
  pages/tools/slack.md
Owners: @18F/tts-tech-portfolio

Review feedback: passive voice and simpler language
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

Add FAQ for getting Concur approver access
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-get-in-concur.md
Owners: @18F/handbook-owners

Update pages/tools/slack.md
  pages/tools/slack.md
Owners: @18F/tts-tech-portfolio

Update pages/tools/slack/getting-started.md
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners

Create reasonable-accommodations.md
  pages/general-information-and-resources/reasonable-accommodations.md
Owners: @18f/handbook-owners

Update reasonable-accommodations.md
  pages/general-information-and-resources/reasonable-accommodations.md
Owners: @18f/handbook-owners

Update leave.md (#3536)
  pages/travel-and-leave/leave.md
  pages/travel-and-leave/overtime.md
Owners: @18F/people-ops

use slack_channel helper (#3515)
  _data/navigation.yml
  pages/18f/projects-partners/microrequests.md
Owners: @18F/handbook-owners

Fix typo
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Add link to GSA Exit Survey
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Fix typo (#3548)
  pages/training-and-development/conferences-events-training.md
Owners: @18F/people-ops

Cloud.gov has changed their Tock policy
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

Fix grammar
  pages/tools/tock.md
Owners: @18F/tts-tech-portfolio

Changed RA to reasonable accommodation
  pages/general-information-and-resources/reasonable-accommodations.md
Owners: @18f/handbook-owners

Create reasonable-accommodations.md (#3545)
  pages/general-information-and-resources/reasonable-accommodations.md
Owners: @18f/handbook-owners

Update writing-lab.md
  pages/getting-started/classes/writing-lab.md
Owners: @18F/guild-content

Update consulting-engineering-guide.md
  pages/18f/projects-partners/consulting-engineering-guide.md
Owners: @18F/handbook-owners

update channel names
  pages/18f/chapters/design.md
  pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

revert formatting
  pages/18f/chapters/design.md
Owners: @18F/handbook-owners

Add link to Handbook homepage, add missing space
  pages/general-information-and-resources/reasonable-accommodations.md
Owners: @18f/handbook-owners

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update Slack login instructions (#3542)
  pages/tools/slack.md
  pages/tools/slack/getting-started.md
Owners: @18F/tts-tech-portfolio, @18F/handbook-owners

Add link to GSA Exit Survey (#3549)
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Remove "Most visited" from Handbook homepage (#3538)
  _includes/most-visited.html
  pages/index.html
Owners: @18F/handbook-owners
