Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

Update first-time-travel-travel-card.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-travel-card.md
Owners: @18F/handbook-owners

Update getting-started.md
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners

Update guidelines.md
  pages/tools/slack/guidelines.md
Owners: @18F/handbook-owners

Update getting-started.md
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners

Update integrations.md
  pages/tools/slack/integrations.md
Owners: @18F/handbook-owners

Update records.md
  pages/tools/slack/records.md
Owners: @18F/handbook-owners

Update user-management.md
  pages/tools/slack/user-management.md
Owners: @18F/handbook-owners

Create emoji.md
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

Update navigation.yml
  _data/navigation.yml
Owners: @18F/handbook-owners

Update pages/tools/slack/emoji.md
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

Update slack.md (#3587)
  pages/tools/slack.md
  pages/tools/slack/emoji.md
  pages/tools/slack/getting-started.md
  pages/tools/slack/guidelines.md
  pages/tools/slack/integrations.md
  pages/tools/slack/records.md
  pages/tools/slack/user-management.md
Owners: @18F/tts-tech-portfolio, @18F/handbook-owners

Update navigation.yml (#3589)
  _data/navigation.yml
Owners: @18F/handbook-owners

Slack Updates, Round 2
  pages/tools/slack.md
Owners: @18F/tts-tech-portfolio

Update emoji.md
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

Update first-time-travel-travel-card.md
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-travel-card.md
Owners: @18F/handbook-owners

another attempt?
  pages/getting-started/classes/travel-101.md
Owners: @18F/people-ops

Update first-time-travel-travel-card.md (#3588)
  pages/travel-and-leave/travel-and-leave-policies/first-time-travel-travel-card.md
Owners: @18F/handbook-owners

Slack Updates, Round 2 (#3590)
  pages/tools/slack.md
  pages/tools/slack/emoji.md
Owners: @18F/tts-tech-portfolio, @18F/handbook-owners

Update assignee-detail.md
  pages/hiring-staying-or-changing-jobs/assignee-detail.md
Owners: @18F/team-talent

initial-components
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
  pages/general-information-and-resources/conflict-feedback-follow-up-escalation.md
  pages/general-information-and-resources/conflict-feedback-intro.md
  pages/general-information-and-resources/conflict-feedback-principles.md
  pages/general-information-and-resources/conflict-feedback-receiving-feedback.md
Owners: @18f/handbook-owners

spelling
  pages/general-information-and-resources/conflict-feedback-additional-frameworks.md
Owners: @18f/handbook-owners

Remove exit interview reference
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Update emoji.md
  pages/tools/slack/emoji.md
Owners: @18F/handbook-owners

New page in Slack guide
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

Update getting-started.md
  pages/tools/slack/getting-started.md
Owners: @18F/handbook-owners

Update pages/tools/slack/notifications-general-communication.md
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

Update assignee-detail.md (#3592)
  pages/hiring-staying-or-changing-jobs/assignee-detail.md
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
  pages/tools/slack/emoji.md
  pages/tools/slack/getting-started.md
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/team-talent, @18F/handbook-owners

Update classes.md
  pages/getting-started/classes.md
Owners: @18F/people-ops

Update classes.md
  pages/getting-started/classes.md
Owners: @18F/people-ops

Update classes.md (#3597)
  pages/getting-started/classes.md
Owners: @18F/people-ops

Update classes.md
  pages/getting-started/classes.md
Owners: @18F/people-ops

Update classes.md (#3599)
  pages/getting-started/classes.md
Owners: @18F/people-ops

Slack updates
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

Moved #alumni Slack info to Offboarding page
  pages/hiring-staying-or-changing-jobs/leaving-tts.md
Owners: @18F/team-talent

Move header
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

Move Slack overwhelm section
  pages/tools/slack/guidelines.md
Owners: @18F/handbook-owners

Update notifications-general-communication.md
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

Remove extra asterisks
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

Add comm/notification best practices link
  pages/tools/slack.md
Owners: @18F/tts-tech-portfolio

Fix spelling errors
  pages/tools/slack/notifications-general-communication.md
Owners: @18F/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
pages/office-of-operations/outreach.md                                   @18F/outreach
pages/office-of-operations/blogging.md                                   @18F/outreach
pages/office-of-operations/talent.md                                     @18F/team-talent
_data/jobs.json                                                          @18F/team-talent

## Office of Acquisition
pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
pages/about-us/diversity.md                                              @18F/guild-deia
pages/about-us/code-of-conduct.md                                        @18F/guild-deia
pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
pages/getting-started/classes/travel-101.md                              @18F/people-ops
pages/getting-started/classes/benefits.md                                @18F/people-ops
pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
pages/performance-management/*                                           @18F/people-ops
pages/getting-started/*                                                  @18F/people-ops
pages/travel-and-leave/*                                                 @18F/people-ops
pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
pages/about-us/*                                                         @18F/handbook-owners
pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
pages/launching-software/*                                               @18F/tts-tech-portfolio
pages/tools/*                                                            @18F/tts-tech-portfolio
pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio
