Repository 18F/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @18F/handbook-owners, @18F/outreach, @18F/team-talent, @18F/tts-office-of-acqusition, @18F/18f-handbook-owners, @18F/solutions-handbook-owners, @18F/coes, @18F/guild-deia, @18F/digital-council, @18F/guild-accessibility, @18F/tts-tech-portfolio, @18F/people-ops, @18F/guild-content, @18f/people-ops, @18f/tts-tech-portfolio, @18f/handbook-owners

CODEOWNERS:

##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @18F/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the 18F GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/18F/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                                @18F/handbook-owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                         @18F/handbook-owners

###########################################################################
# TTS Offices
###########################################################################
## Office of Operations
_pages/office-of-operations/outreach.md                                   @18F/outreach
_pages/office-of-operations/blogging.md                                   @18F/outreach
_pages/office-of-operations/talent.md                                     @18F/team-talent

## Office of Acquisition
_pages/office-of-acquisition/*                                            @18F/tts-office-of-acqusition

## 18F
_pages/18f/*                                                              @18F/18f-handbook-owners

## Solutions
_pages/office-of-solutions/*                                              @18F/solutions-handbook-owners

## Centers of Excellence (CoE)
_pages/centers-of-excellence/*                                            @18F/coes

###########################################################################
# Guilds, working groups, and councils
###########################################################################
_pages/about-us/diversity.md                                              @18F/guild-deia
_pages/about-us/code-of-conduct.md                                        @18F/guild-deia
_pages/general-information-and-resources/deia-resources.md                @18F/guild-deia
_pages/general-information-and-resources/inclusive-behaviors.md           @18F/guild-deia
_pages/general-information-and-resources/inclusion-bot.md                 @18F/guild-deia
_pages/about-us/digital-council.md                                        @18F/digital-council

###########################################################################
# Classes
###########################################################################
_pages/getting-started/classes/accessibility.md                           @18F/guild-accessibility
_pages/getting-started/classes/intro-to-TTS-Tech-Portfolio.md             @18F/tts-tech-portfolio
_pages/getting-started/classes/meetings-and-meeting-tools.md              @18F/tts-tech-portfolio
_pages/getting-started/classes/gsa-internal-tools.md                      @18F/tts-tech-portfolio
_pages/getting-started/classes/travel-101.md                              @18F/people-ops
_pages/getting-started/classes/benefits.md                                @18F/people-ops
_pages/getting-started/classes/writing-lab.md                             @18F/guild-content

###########################################################################
# People Ops
###########################################################################
_pages/performance-management/*                                           @18F/people-ops
_pages/getting-started/*                                                  @18F/people-ops
_pages/travel-and-leave/*                                                 @18F/people-ops
_pages/hiring-staying-or-changing-jobs/*                                  @18F/team-talent
_pages/training-and-development/*                                         @18F/people-ops

###########################################################################
# General information and policies
###########################################################################
_pages/about-us/*                                                         @18F/handbook-owners
_pages/general-information-and-resources/employee-resources-policies      @18f/people-ops
_pages/general-information-and-resources/tech-policies                    @18f/tts-tech-portfolio
_pages/general-information-and-resources/*                                @18f/handbook-owners

###########################################################################
# Tech Portfolio
###########################################################################
_pages/launching-software/*                                               @18F/tts-tech-portfolio
_pages/tools/*                                                            @18F/tts-tech-portfolio
_pages/training-and-development/intro-to-github.md                        @18F/tts-tech-portfolio

Format files
  _pages/general-information-and-resources/inclusion-bot.md
Owners: @18f/handbook-owners

fix link
  _pages/general-information-and-resources/inclusion-bot.md
Owners: @18f/handbook-owners

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Format files
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/assignee-detail”
  _pages/hiring-staying-or-changing-jobs/assignee-detail.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/assignee-detail” (#3049)
  _pages/hiring-staying-or-changing-jobs/assignee-detail.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3048)
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update content guild lead
  _pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Casing in accord with content guide
  _pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Updates content guild lead (#3050)
  _pages/training-and-development/working-groups-and-guilds-101.md
Owners: @18F/people-ops

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Format files
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3051)
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3052)
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3053)
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “travel-and-leave/travel-and-leave-policies/travel-guide-faq”
  _pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Format files
  _pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Update page “travel-and-leave/travel-and-leave-policies/travel-guide-faq” (#3054)
  _pages/travel-and-leave/travel-and-leave-policies/travel-guide-faq.md
Owners: @18F/handbook-owners

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Format files
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3055)
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

remove project health assessment ref while on pause
  _pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Update captioning request instructions
  _pages/general-information-and-resources/employee-resources-policies/deaf-hoh.md
Owners: @18f/people-ops

Format files
  _pages/general-information-and-resources/employee-resources-policies/deaf-hoh.md
Owners: @18f/people-ops

add weather and safety leave info
  _pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Format files
  _pages/travel-and-leave/leave.md
Owners: @18F/people-ops

Update page “general-information-and-resources/washington-dc”
  _pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

remove project health assessment ref while on pause (#3056)
  _pages/18f/projects-partners/leading-projects.md
Owners: @18F/handbook-owners

Update page “general-information-and-resources/washington-dc” (#3059)
  _pages/general-information-and-resources/washington-dc.md
Owners: @18f/handbook-owners

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Format files
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “tools/docker-hub”
  _pages/tools/docker-hub.md
Owners: @18F/tts-tech-portfolio

Format files
  _pages/tools/docker-hub.md
Owners: @18F/tts-tech-portfolio

Update page “tools/docker-hub” (#3061)
  _pages/tools/docker-hub.md
Owners: @18F/tts-tech-portfolio

Update page “hiring-staying-or-changing-jobs/ttsjobs” (#3060)
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Update page “hiring-staying-or-changing-jobs/ttsjobs”
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent

Format files
  _pages/hiring-staying-or-changing-jobs/ttsjobs.md
Owners: @18F/team-talent
